.about {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;

	@include respond(tab-port) {
		flex-direction: column;
	}

	// .about__picture
	&__picture {
		margin-right: 1.5rem;
		width: 100%;
		max-width: 400px;
		height: auto;
		width: 100%;

		@include respond(tab-port) {
			margin-right: 0;
			margin-bottom: 2rem;
			width: auto;
		}
	}

	// .about__img

	&__img {
		border-radius: 5px;
		box-shadow: $img-shadow;
		width: 100%;
		max-width: 400px;
		height: auto;
	}

	// .about__details

	&__details {
		width: 60%;

		@include respond(tab-port) {
			width: 100%;
		}
	}

	// .about__text

	&__text {}
}

.skills {
	.heading-3 {
		text-align: center;
	}
}

.skills-bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 2rem;
	margin-bottom: 4rem;
	@include respond(tab-port) {
		display: block;
	}
	&__item{
		@include respond(tab-port) {
			margin-bottom: 2rem;
		}
	}
	&__item:nth-child(odd) {
		grid-column: 1/2;
	}

	&__item:nth-child(even) {
		grid-column: 2/3;
	}
	&__title{
		position: relative;
	}
	&__container {
		background: $color-font;
		position: relative;
		width: 100%;
		height: 5px;
		margin-top: 5px;
		display: block;
		border-radius: 5px;
	}

	&__percent {
		position: absolute;
		right: 5px;
		top: 0;
	}

	&__progressbar {
		position: absolute;
		width: 0%;
		height: 100%;
		border-radius: 5px;
		animation-duration: 2s;
		animation-timing-function: ease-out;
		animation-fill-mode: both;
		background-color: $color-primary;
	}

	#progress-html.animate {
		animation-name: progress-html;
		animation-delay: $animation-delay;
	}

	#progress-css.animate {
		animation-name: progress-css;
		animation-delay: $animation-delay;
	}

	#progress-typescript.animate {
		animation-name: progress-typescript;
		animation-delay: $animation-delay;
	}

	#progress-angular.animate {
		animation-name: progress-angular;
		animation-delay: $animation-delay;
	}

	#progress-react.animate {
		animation-name: progress-react;
		animation-delay: $animation-delay;
	}

	#progress-accessibility.animate {
		animation-name: progress-accessibility;
		animation-delay: $animation-delay;
	}
}


@keyframes progress-html {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes progress-css {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes progress-typescript {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes progress-angular {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes progress-react {
	0% {
		width: 0%;
	}

	100% {
		width: 30%;
	}
}

@keyframes progress-accessibility {
	0% {
		width: 0%;
	}

	100% {
		width: 95%;
	}
}