.projects {
  
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        padding-bottom: 4rem;
        @include respond(tab-land){
            display: block;
        }
    }

    // .projects__item

    &__item {
        margin: 1rem 2rem;  
        @include respond(tab-land){
            margin: 1rem 0; 
        }      
    }

    
    &__item:last-child {
        grid-column: auto;
        @include respond(tab-land){
            grid-column: 1 / span 2;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-light-1;
    border-radius: $border-radius;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1.5rem 2rem 2.5rem 2rem;
    text-align: start;
    height: 100%;
    margin: 0 auto;
    max-width: 30rem;
    @include respond(tab-land){
        max-width:none;
    }

    &__img{
        margin-bottom: 1.5rem;
        max-height: 200px;
        object-fit: cover;
    }

    &__tittle {
       line-height: 4rem;
       margin-bottom: 1.5rem;
    }

    &__text {
        margin-bottom: 1rem;
    }

    .project-link{
        color: $color-primary-dark;
    }

    &__list{
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        text-align: left;
    }

    &__list li{
        position: relative;
        padding-left: 1.5rem;
    }

   &__list li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.55rem;

        width: 8px;
        height: 8px;

        background: #e91f4f;
        border-radius: 50%;
    }
}
